name: Canary
on:
  push:
    branches:
      - develop

jobs:
  canary:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install dependencies
        uses: ./.github/actions/install-deps

      - name: Setup .npmrc file
        uses: actions/setup-node@v3
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Canary release
        run: |
          npx changeset pre exit || true
          npx changeset version --snapshot canary-$(git log -1 --pretty=format:%h)
          pnpm -r publish --no-git-checks --tag canary
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
